.navbar {
    width: 100%;
    position: absolute;
}

.navbar-sticky {
    position: fixed;
    animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0rem);
    }
}